Source: fubar
Section: sound
Priority: optional
Maintainer: bugdone <bugdone@gmail.com>
Build-Depends: debhelper (>= 8.0.0), cmake, protobuf-compiler, libprotobuf-dev,
 libboost-system-dev, libcue-dev, liblastfm-dev, libtag1-dev, libphonon-dev,
 libmpv-dev (>= 0.8.0), kdelibs5-dev
Standards-Version: 3.6.1

Package: fubar
Architecture: any
Depends: ${shlibs:Depends}

